# Ignore the QtProject folder
QtProject/*

# Ignore the fish folder
fish/*

# Ignore the gtk folder
gtk-2.0/*

com.corsair
com.corsair/*

# Ignore the raycast folder (for now)
raycast
raycast/*

com.corsair
com.corsair/*

# Ignore the lazylock file
nvim/lazy-lock.json
